/* CAJA TEST */
.caja{
  /* border: 1px dashed red;
  box-sizing: border-box; */
  display: flex;
  justify-content: center;
}
/* CAJA TEST FIN */
/* Subir */
#subir{
  position: fixed;
  right: 25px;
  bottom: 15px;
  overflow: hidden;
}
i.fas.fa-arrow-circle-up{
  color: rgb(215, 43, 43);
  font-size: 3em;
}
#subir a i:hover{
  color: rgb(209, 79, 79);
}
/* modal */
.nav-tabs{
  background-color:#161616;
}
.tab-content{
    background-color:#484a51;
    color:#aaa;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
  color: #aaa;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
.modal-footer{
  border-top: none;
  display: inline;
  padding: 0px;
}
.modal-footer p{
  color: #c4c4c4;
}
.modal-footer p a{
  font-weight: bold;
  color: #fff;
}
.inputWidthIcon input {
  padding-left: 7%;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  height: 45px;
  font-size: 20px;
}
.inputWidthIcon{
  position: relative;
  transition: .3s;
  margin-bottom: 10px;

}
.inputWidthIcon i{
  position: absolute;
  left: 2%;
  top: 15px;
  color: #aaa;
}
.inputWidthIcon:hover i{
  color: #dc3545;
}
.inputWidthIcon:hover input{
  color: #dc3545;
}
.modal-footer p{
  padding-left: 4%;
}


/* navbar */
.navbar{
  overflow: hidden;
}
.nav-link{
  color: grey;
}
.nav-link:hover{
  color: rgb(241, 61, 61);
}
.navbar-brand.ml-2{
  font-size: 2em;
}
.form-inline .form-control:focus{
  border-color: #e41b1b;
  box-shadow: 0 0 0 0.2rem rgba(167, 71, 40, 0.25);
}
/* NavBar Fin */

/* Carousel */
.carousel.slide{
  background-color: white;
}
.fas.fa-angle-left, .fas.fa-angle-right{
  color: red;
  font-size: 3em;
}
.w-25{
  margin: auto;
}
.SubCarousel{
  margin: auto;
  width: 5%;
}
.carousel.slide.subBg{
background-color: rgb(33, 33, 33);
}
#carousel{
  margin-top: 11em;
}
/* Carousel Fin */

/* SubCarousel */
/* Flexbox para centrar */
.carousel-item.active{
  display: flex!important;
  justify-content: space-around;

}
.carousel-item.active img{
  width: 5%;
}
/* Fin de Flexbox */
/* SubCarousel Fin */

/* Articulos */
.imgCenter{
  margin: 0;
  display: flex;
  align-items: center;
  overflow:hidden;
}
.caja img{
  border: 1px black solid;
  border-radius: 1rem;
  margin: 1em;
}

.articulos{
  overflow: hidden;
}
/* Articulos Fin */

/* Contacto */
.container-fluid.contact-form{
  /* background: rgb(35, 78, 124); */
}
.contact-form{
    background: #000101;
    /* margin-top: 1%; */
    /* margin-bottom: 1%; */
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;

}
/*Cambiar color de foco en formulario*/
.contact-form .form-control:focus{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);

}
.contact-image{
    text-align: center;
}
/* .contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
} */
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #AAA;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/* Contacto Fin */

/* Footer */
footer{
  color: white;
  background: rgb(18, 18, 18);
}
.parrafo{
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parrafo p a{
  text-decoration: none;
  color: white;
}
.parrafo p a:hover{
  color: red;
}
.sociales {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sociales a {
  padding: 1%;
  text-decoration: none;
  color: white;
}
.sociales a:hover{
  color: red;
}

/* MEDIAQUERYS */
/* De 576px a 767px resolver porque no me toma el margin top */

@media only screen and(min-width: 576px) {
  #carousel{
    margin-top: 5.5em;
  }
}

@media only screen and (min-width: 768px) {
  #carousel{
    margin-top: 4.5em;
  }
 }

@media only screen and (min-width: 992px) {
  #carousel{
    margin-top: 4.5em;
  }
 }


@media only screen and (min-width: 1200px) {
  #carousel{
    margin-top: 4.5em;
  }
 }
